extends ../layout

block content 
    .row
        a(href="/products/create" class="btn btn-add") Adicionar Produto
    -if (products.length > 0)
        .products-container
            each product in products 
                .card
                    img(src="https://picsum.photos/250/180", alt="product-image")
                    .card-headercard-header
                        p=product.nome
                    .card-body 
                        p=product.descricao
                        p=product.preco
                    .card-footer 
                        a(class='btn' href=`products/${product.id}`) Detalhes
    -else
        h1 Nenhum produto cadastrado
