doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/main.css')
    block head
  body
    nav
      div 
        h2.page-name 
          a(href="/") Grimório
      ul 
        li 
          a(href="/clients" class="nav-link") Clientes 
        li 
          a(href="/" class="nav-link") Produtos
    main.container 
      block content 
    footer.footer.
      Todos os direitos reservados.
      