

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.formGroup input{
    font-size: 20px;
    padding: 10px ;
}

.formWrapper {
    width: 50%;
}

.btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}